<div class="modal-header" style="height: 40px">
    <span class="btn btn-danger btn-xs glyphicon glyphicon-remove pull-right" style="margin-top: -7px" ng-click="close()"></span>
<!--    <h3 class="modal-title">I'm a modal!</h3>-->
</div>
<div class="modal-body">
    <div class="col-xs-12" style="padding-left: 0px" ng-show="embellishmentMode === 'hand'">
        <div class="col-xs-3" ng-repeat="embllishment in embllishments| filter : {'type': 'hand'}">
            <div id="imgPanel" style="width: 65px; height: 65px; margin-bottom: 8px" ng-click="getHandEmbllishmentDetails(embllishment)">
                <img src="/{{embllishment.picture}}" style="width: 60px; height: 50px;"/>
                <h6 class="text-center">${{embllishment.price}}</h6>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="padding-left: 0px" ng-show="embellishmentMode === 'machine'">
        <div class="col-xs-3" ng-repeat="embllishment in embllishments| filter : {'type': 'machine'}">
            <div id="imgPanel" style="width: 65px; height: 65px; margin-bottom: 8px" ng-click="getHandEmbllishmentDetails(embllishment)">
                <img src="/{{embllishment.picture}}" style="width: 60px; height: 50px;"/>
                <h6 class="text-center">${{embllishment.price}}</h6>
            </div>
        </div>
    </div>
</div>
