<header class="header">
    <div class="col-xs-5" style="padding-top: 6px">              
        <img class="pull-left" src="./img/maslogosmall.PNG">     
    </div>
    <div class="col-xs-4">
        <img src="./img/bottom.PNG" class="img-circle pull-left" id="top-img">
        <h6 class="pull-right">Bottoms</h6>
    </div>
    <div class="col-xs-3" style="padding-top: 6px">
        <img class="pull-right" src="./img/pinksmall.PNG">
    </div>
</header>

<div class="container-fluid" id="top">
    <!--stepper-->
    <div class="row">
        <div class="container">
            <div class="bs-wizard" style="border-bottom:0;margin-left: 2px;">
                <div class="col-xs-3 my-part bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Fabric</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Liner</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Trim</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step complete" ng-show="mode === 'top'">
                    <div class="text-center bs-wizard-stepnum">Cup</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum">Emb</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">Emb 2</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">CM</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">FOB</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>
            </div>
        </div>
    </div><br>

    <!--category-->
    <!--    <div class="text-center"><label>Embellishment Cost Trim making cost</label>-->
    <div class="text-center"><label>Hand Embellishment</label>
    </div>
    <div class="category col-xs-12">
        <div class="row mygrid-wrapper-div">
            <table class="table">  
                <tbody>
                    <tr>
                        <td  ng-repeat="embllishment in embllishments| filter : {'type': 'hand'}">
                            <div id="imgPanel" style="width: 65px; height: 65px;" ng-click="getHandEmbllishmentDetails(embllishment)">
                                <img src="./img/{{embllishment.picture}}.PNG" style="width: 60px; height: 38px;"/>
                                 <h6 class="text-center">${{embllishment.price}}</h6>
                            </div>
                            <!--                            <div class="col-lg-4" id="imgPanel" ng-click="getEmbllishmentCostDetails(embllishment)"><img src="./img/{{embllishment.picture}}.PNG" />
                                                            <h6 class="text-center">${{embllishment.price}}</h6>
                                                        </div>-->
                        </td>   
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" id="cmd-cost">
        <div class="col-xs-6">
            <h6 class="text-center">Cost ($)</h6>
            <div class="form-group">
                <div class="input-group"> 
                    <span class="btn btn-primary input-group-addon" id="slider" ng-click="embCostDecrement()">-</span>
                    <input type="text" class="form-control input-sm text-center" ng-model="embCost">
                    <span class="btn btn-primary input-group-addon" id="slider" ng-click="embCostIncrement()">+</span>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <h6 class="text-center">Qty</h6>
            <div class="form-group">
                <div class="input-group"> 
                    <span class="btn btn-primary input-group-addon" id="slider" ng-click="qtyDecrement()">-</span>
                    <input type="text" class="form-control input-sm text-center" ng-model="qty">
                    <span class="btn btn-primary input-group-addon" id="slider" ng-click="qtyIncrement()">+</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <h6 class="text-center">Total ($)</h6>
        <div class="col-xs-2"></div>
        <div class="col-xs-8 text-center">
            <input type="text" class="form-control input-sm text-center" ng-model="emdTotal">
        </div>
        <div class="col-xs-"></div>
    </div>


    <div class="row" id="cmd-cost">
        <div class="col-xs-6">
            <h6 class="text-center">SMV ($)</h6>
            <div class="form-group">
                <div class="input-group"> 
                    <span class="btn btn-primary input-group-addon" id="slider" ng-click="embSmvDecrement()">-</span>
                    <input type="text" class="form-control input-sm text-center" ng-model="emblishmentSmv">
                    <span class="btn btn-primary input-group-addon" id="slider" ng-click="embSmvIncrement()">+</span>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <h6 class="text-center">Charge out ($)</h6>
            <div class="form-group">
                <div class="input-group"> 
                    <span class="btn btn-primary input-group-addon" id="slider" ng-click="embChargeOutDecrement()">-</span>
                    <input type="text" class="form-control input-sm text-center" ng-model="chargeOut">
                    <span class="btn btn-primary input-group-addon" id="slider" ng-click="embChargeOutIncrement()">+</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <h6 class="text-center">Total ($)</h6>
        <div class="col-xs-2"></div>
        <div class="col-xs-8 text-center">
            <input type="text" class="form-control input-sm text-center" ng-model="smvChargeOutTotal">
        </div>
        <div class="col-xs-"></div>
    </div>

    <a class="btn btn-default btn-xs pull-right btn-flat" style="margin-top: 19px" href="#/machine-embllishment" ng-click="skip()">Skip if not applicable 
        <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
</div>

<!--footer-->
<footer class="footer">
    <div class="container-fluid" style="margin-top: 8px">
        <a class="btn btn-default btn-xs btn-flat" ng-click="backCupOrTrim()">
            <span class="glyphicon glyphicon-arrow-left"></span> BACK
        </a>
        <a class="btn btn-default btn-xs btn-flat pull-right" href="#/machine-embllishment">NEXT
            <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    </div>
</footer>