<header class="header">
    <div class="col-xs-4" style="padding-top: 2px">              
        <img class="pull-left" src="./img/maslogosmall.PNG">     
    </div>
    <div class="col-xs-5">
        <img src="./img/bottom.PNG" class="img-circle pull-left" id="top-img">
        <h6 style="margin-left: 47px; margin-top: 13px;">Bottoms</h6>
    </div>
    <div class="col-xs-3" style="padding-top: 6px">
        <img class="pull-right" src="./img/pinksmall.PNG">
    </div>
</header>

<div class="container-fluid" id="top">
    <!--stepper-->
    <div class="row">
        <div class="container">
            <div class="bs-wizard" style="border-bottom:0;margin-left: 2px;">
                <div class="col-xs-3 my-part bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Fabric</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Liner</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Trim</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step complete" ng-show="mode === 'top'">
                    <div class="text-center bs-wizard-stepnum">Cup</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Emb</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Emb 2</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">CM</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">FOB</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>
            </div>
        </div>
    </div><br>

    <!--cost summary-->
    <div class="text-center"><label>Cost Summary Solid</label></div>
    <div class="container">
        <h6>Fabric Cost = $ {{fabSolid}}</h6>
        <input type="range" step="0.01" ng-model="fabSolid" min="0" max="2">                

        <h6>Trim Cost = $ {{trimCost}}</h6>
        <input type="range" step="0.01" ng-model="trimCost" min="0" max="2">    

        <h6>Emb Cost = $ {{emdTotal}}</h6>
        <input type="range" step="0.01" ng-model="emdTotal" min="0" max="2">    

        <h6>CM Cost = $ {{cmCost}}</h6>
        <input type="range" step="0.01" ng-model="cmCost" min="0" max="2">    

        <h6>Packing Cost = $ {{packingCostSolid}}</h6>
        <input type="range" step="0.01" ng-model="packingCostSolid" min="0" max="2">    
    </div>
    <div class="col-xs-12">
        <div class="row pull-right" style="margin-top: 10px">
            <label>Initial FOB = ${{calculateInitialFobSolid()}}</label>
        </div>
    </div>

    <table style="margin-bottom: 45px">
        <col style="width: 30%">
        <col style="width: 20%">
        <col />
        <tbody>
            <tr>
                <td>
                    <h5 style="margin-left: 70px">Enter Retail Price : $</h5>
                </td>
                <td>
                    <input class="form-control text-center input-sm" ng-model="retailPriceSolid" ng-change="calculatTargetFobSolid()">
                </td>
            </tr> 
            <tr>
                <td>
                    <h5 style="margin-left: 70px">Target FOB</h5>
                </td>
                <td>
                    <input ng-disabled="true" class="form-control text-center input-sm" ng-model="targetFobSolid" ng-change="changeTargetFobSolid()">
                </td>
            </tr> 
        </tbody>
    </table>
</div>

<!--footer-->
<footer class="footer">
    <div class="container-fluid" style="margin-top: 8px">
        <a class="btn btn-default btn-xs btn-flat" href="#/view-8">
            <span class="glyphicon glyphicon-arrow-left"></span> BACK
        </a>
        <a class="btn btn-default btn-xs btn-flat pull-right" href="#/view-10">NEXT
            <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    </div>
</footer>