<div class="container-fluid" id="top">
    <div class="row">
        <div class="col-xs-5">              
            <img class="pull-left" src="./img/maslogosmall.PNG">     
        </div>
        <div class="col-xs-4">
            <img src="./img/bottom.PNG" class="img-circle pull-left" id="top-img">
        </div>
        <div class="col-xs-3">
            <img class="pull-right" src="./img/pinksmall.PNG">
            <h6 class="pull-right">Bottoms</h6>
        </div>
    </div>

    <!--stepper-->
    <div class="row">
        <div class="container">
            <div class="bs-wizard" style="border-bottom:0;">
                <div class="col-xs-3 my-part bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Fabric Cost</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Trim Cost</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">Emd Cost</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">CM Cost</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 my-part bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">FOB</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>
            </div>
        </div>
    </div><br>

    <!--category-->
    <div class="text-center"><label>Trim Cost</label>
    </div>
    <div class="category col-xs-12">
        <div class="title row">
            <label>Tier 1</label>
        </div>
        <div class="row mygrid-wrapper-div">
            <table class="table">  
                <tbody>
                    <tr>
                        <td><div class="col-lg-4"><img src="./img/1.PNG"/></div></td>    
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>

    <div class="container" id="trim-range">
        <div class="form-group">
            <div class="input-group">                                           
                <span class="btn btn-primary input-group-addon" ng-click="trimCostDecrement()" >-</span>
                <input type="text" class="form-control input-sm text-center" ng-model="trimCost">
                <span class="btn btn-primary input-group-addon" ng-click="trimCostIncrement()" >+</span>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer class="footer">
    <div class="container-fluid" style="margin-top: 8px">
        <a class="btn btn-default btn-xs btn-flat" href="#/view-4">
            <span class="glyphicon glyphicon-arrow-left"></span> BACK
        </a>
        <a class="btn btn-default btn-xs btn-flat pull-right" href="#/view-6" >NEXT
            <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    </div>
</footer>