<div class="modal-header" style="height: 40px">
    <span class="btn btn-danger btn-xs glyphicon glyphicon-remove pull-right" style="margin-top: -7px" ng-click="close()"></span>
    <!--    <h3 class="modal-title">I'm a modal!</h3>-->
</div>
<div class="modal-body">
    <div class="col-xs-12" style="padding-left: 0px" ng-show="embellishmentMode === 'hand'">
        <div class="col-xs-3" ng-repeat="embllishment in embllishments| filter : {'type': 'hand'}">
            <div id="imgPanel" style="width: 60px; height: 65px; margin-bottom: 8px" ng-click="getHandEmbllishmentDetails(embllishment)">
                <img src="./images/{{embllishment.picture}}" style="width: 60px; height: 50px;"/>
                <h6 class="text-center" style="margin-top: 5px;">${{embllishment.price}}</h6>
            </div>
        </div>
    </div>
    <div style="padding-left: 0px" ng-show="embellishmentMode === 'machine'">
        <div class="category" style="margin-top: 15px;" ng-repeat="(key, value) in embllishments | groupBy:'tier'">
            <div class="title" ng-hide="value[0].type==='hand_embellishment'">
                <label>{{key}}</label>
            </div>
            <div class="mygrid-wrapper-div" ng-hide="value[0].type==='hand_embellishment'">
                <table class="table">  
                    <tbody>
                        <tr>
                            <td ng-repeat="style in value | filter : {'type': 'machine'}">
                                <div id="imgPanel" style="width: 55px; height: 50px;" ng-click="getMachineEmbllishmentDetails(style)">
                                        <img src="./images/{{style.picture}}" style="width: 60px; height: 40px;">
                                        <h6 class="text-center" style="margin-top: 1px">${{style.price}}</h6>
                                    </div>
                            </td>
                        </tr>   
                    </tbody>
                </table>
            </div>
        </div>
        <!--                <div class="col-xs-3" ng-repeat="embllishment in embllishments| filter : {'type': 'machine'}">
                            <div id="imgPanel" style="width: 60px; height: 65px; margin-bottom: 8px" ng-click="getMachineEmbllishmentDetails(embllishment)">
                                <img src="./images/{{embllishment.picture}}" style="width: 60px; height: 50px; margin: 0px"/>
                                <h6 class="text-center" style="margin-top: 5px;">${{embllishment.price}}</h6>
                            </div>
                        </div>-->
    </div>
</div>
