<!--<header class="header">
    <div class="col-xs-4" style="padding-top: 2px">              
        <img class="pull-left" src="./img/maslogosmall.PNG">     
    </div>
    <div class="col-xs-5">
        <label>
            <img src="{{topImg}}" class="img-circle" style="margin-left: 5px" id="top-img">
            {{mode}}
        </label>
    </div>
    <div class="col-xs-3" style="padding-top: 6px">
        <img class="pull-right" src="./img/pinksmall.PNG">
    </div>
</header>-->

<div class="container-fluid" id="top">
    <!--initial cost summary-->
    <div class="text-center" style="margin-top: 10px"><label>Initial Cost Summary</label></div>
    <div class="container-fluid" style="margin-bottom: 45px">
        <table class="table">
            <thead>
                <tr>           
                    <th></th>
                    <th>Solid</th>
                    <th>Print</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fabric Cost</td>
                    <td>${{fabSolid}}</td>
                    <td>${{fabPrint}}</td>
                </tr>
                <tr>
                    <td>Liner Cost</td>
                    <td>${{linerCost}}</td>
                    <td>${{linerPrint}}</td>
                </tr>
                <tr>
                    <td>Trim Cost</td>
                    <td>${{trimCost}}</td>
                    <td>${{trimPrint}}</td>
                </tr>
                <tr>
                    <td>Hand Emb Cost</td>
                    <td>${{handEmbellihshmentCost}}</td>
                    <td>${{handEmbellihshmentPrint}}</td>
                </tr>
                 <tr>
                    <td>Machine Emb Cost</td>
                    <td>${{machineCost}}</td>
                    <td>${{machinePrint}}</td>
                </tr>
                <tr>
                    <td>CM Cost</td>
                    <td>${{cmCost}}</td>
                    <td>${{cmCost}}</td>
                </tr>
                <tr>
                    <td>Packing Cost</td>
                    <td>${{packingCostSolid}}</td>
                    <td>${{packingCostPrint}}</td>
                </tr>
                <tr>
                    <td>Initial FOB</td>
                    <td>${{calculateInitialFobSolid()}}</td>
                    <td>${{calculateInitialFobPrint()}}</td>
                </tr>
                <tr>
                    <td>Retail Price</td>
                    <td>${{retailPriceSolid}}</td>
                    <td>${{retailPricePrint}}</td>
                </tr>
                 <tr>
                    <td><label>Sea IMU%</label></td>
                    <td>{{calcSeaImuSolid()}}%</td>
                    <td>{{calcSeaImuPrint()}}%</td>
                </tr>
                <tr>
                    <td><label>Air IMU %</label></td>
                    <td>{{calcAirImuSolid()}}%</td>
                    <td>{{calcAirImuPrint()}}%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--footer-->
<footer class="footer">
    <div class="container-fluid" style="margin-top: 8px">
        <a class="btn btn-default btn-xs btn-flat" href="#/view-10">
            <span class="glyphicon glyphicon-arrow-left"></span> BACK
        </a>
        <a class="btn btn-default btn-xs btn-flat pull-right" href="#/view-12">FINISH
            <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    </div>
</footer>