<header class="header">
    <div class="col-xs-6" style="padding-top: 2px">
        <img class="pull-left" src="./img/maslogosmall.PNG">
    </div>
    <div class="col-xs-6" style="padding-top: 6px">
        <img class="pull-right" src="./img/pinksmall.PNG">
    </div>
</header>


<div class="container-fluid" id="top">
    <br>
    <label>Date </label>
    <input type="date" class="form-control" ng-model="styleModal.date">
    <br>
    <label>Style No</label>
    <input type="text"
           class="form-control input-sm text-center"
           ng-model="styleModal.styleNo"><br> 
    <label>Tier</label>
    <select class="form-control"  ng-model="styleModal.tier" ng-options="tier.name for tier in tiers track by tier.indexNo"></select>
    <br> 
    <label for="file-upload" class="custom-file-upload">
        <i class="glyphicon glyphicon-camera"></i> Upload Image
    </label> <input id="file-upload" type="file"
                    onchange="angular.element(this).scope().imageUpload(event)"><br>
    <div style="width: 150px; height: 150px" >
        <img src="{{imagemodel}}" width="150" height="150">
    </div>
</div>
<br>

<div class="col-xs-12" style="margin-bottom: 45px">
    <a class="btn btn-default col-xs-5 btn-flat pull-left"> <span
            class="glyphicon glyphicon-share"></span> Share
    </a> <a class="btn btn-success col-xs-5 btn-flat pull-right"
            ng-click="saveStyle()"> <span class="glyphicon glyphicon-ok"></span>
        Save
    </a>
</div>

<footer class="footer">
    <div class="container-fluid" style="margin-top: 8px">
        <a class="btn btn-default btn-xs pull-right btn-flat" href="#/view-1" ng-click="menu()">
            Menu <span class="glyphicon glyphicon-arrow-right"></span> 
        </a>
    </div>
</footer>
