<ng-include src="'app/admin/navbar.html'"></ng-include>

<div class="">
    <div class="col-lg-3" style="padding-top: 30px">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-lg-5">Style No :</label>
                <div class="col-lg-7">
                    <input type="text" class="form-control" ng-model="model.style.styleNo" ng-required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Category :</label>
                <div class="col-lg-7">
                    <select class="form-control" name="" ng-model="model.style.category">
                        <!--<option value="">---select category---</option>-->
                        <option value="top">Top</option>
                        <option value="bottom">Bottom</option>
                        <option value="one-piece">One Piece</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Tier :</label>
                <div class="col-lg-7">
                    <select class="form-control"  ng-model="model.tier" ng-options="tier.name for tier in model.tiers track by tier.indexNo"></select>
                    <!--<input type="text" class="form-control" ng-model="model.tier" uib-typeahead="tier.name for tier in model.tiers track by tier.indexNo | filter:$viewValue | limitTo:8" typeahead-on-select="onSelect($item, $model, $label)" required>-->
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Solid Price :</label>
                <div class="col-lg-7">
                    <input type="number" class="form-control" ng-model="model.style.solidPrice">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Solid Consumption :</label>
                <div class="col-lg-7">
                    <input type="number" class="form-control" ng-model="model.style.solidConsumption">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Print Price :</label>
                <div class="col-lg-7">
                    <input type="number" class="form-control" ng-model="model.style.printPrice">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Print Consumption :</label>
                <div class="col-lg-7">
                    <input type="number" class="form-control" ng-model="model.style.printConsumption">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Liner Cost:</label>
                <div class="col-lg-7">
                    <input type="number" class="form-control" ng-model="model.style.linerPrice">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Liner Consumption :</label>
                <div class="col-lg-7">
                    <input type="number" class="form-control" ng-model="model.style.linerConsumption">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Trim Cost :</label>
                <div class="col-lg-7">
                    <input type="number" class="form-control" ng-model="model.style.trimCost">
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-3"  style="padding-top: 30px">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-lg-6">Hand Embellishment :</label>
                <div class="col-lg-6">
                    <input type="number" class="form-control" ng-model="model.style.handEmbellishmentCost">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-6">Machine Embellishment :</label>
                <div class="col-lg-6">
                    <input type="number" class="form-control" ng-model="model.style.machineEmbellishmentCost">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-6">SMV :</label>
                <div class="col-lg-6">
                    <input type="number" class="form-control" ng-model="model.style.smv">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-6">COR :</label>
                <div class="col-lg-6">
                    <input type="number" class="form-control" ng-model="model.style.cor">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-6">Cup Cost :</label>
                <div class="col-lg-6">
                    <input type="number" class="form-control" ng-model="model.style.cupCost">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-6">Date :</label>
                <div class="col-lg-6">
                    <input type="date" class="form-control" ng-model="model.style.date" ng-change="ui.changeDate(1)">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-6">Picture :</label>
                <div class="col-lg-6">
                    <label for="file-upload" class="custom-file-upload">
                        <i class="glyphicon glyphicon-camera"></i> Upload Image
                    </label>
                    <input id="file-upload" type="file" onchange="angular.element(this).scope().imageUpload(event)"><br>
                    <img src="{{imagemodel}}" style="width: 100%; height:100px;">
                </div>
            </div>


        </form>
    </div>
    <div class="col-lg-6"  style="background-color: #efefef">
        <div style="margin-top: 20px; height: 50px">
            <div class="form-inline">
                <form>
                    <div class="form-group">
                        <input style="width: 160px" type="text" class="form-control" ng-model="model.styleNo" placeholder="Style No">
                    </div>
                    <div class="form-group" style="margin-left: 25px">
                        <select ng-model="model.category" class="form-control" style="width: 160px">
                            <option value=''>Select Category</option>
                            <option ng-repeat="(key, value) in styles | groupBy:'category'">{{key}}</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-left: 25px">
                        <select class="form-control" ng-model="model.tierName" style="width: 162px" ng-change="ui.selectTier(model.tierName)">
                            <option value=''>Select Tier</option>
                            <option ng-repeat="tier in model.tiers">{{tier.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>

        <table class="table">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 18%">
            <col style="width: 25%">
            <thead>
                <tr>
                    <th>Style No</th>
                    <th>Category</th>
                    <th>Tier</th>
                    <th>Picture</th>
                    <th>Last Update</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>

        <div class="smart-scroll-y" style="height: calc(100vh - 173px);" scrolly="showMore()">
            <table class="table">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 25%">
                <tbody>
                    <tr ng-repeat="style in styles| orderBy:'date':true | filter:{'styleNo':model.styleNo} | filter:{'category':model.category}| limitTo: numLimit">
                        <td>{{style.styleNo}}</td>
                        <td>{{style.category}}</td>
                        <td>{{style.tier.name}}</td>
                        <td><img src="{{getImage(style.picture)}}" width="60px" height="50px"></td>
                        <td>{{style.date| date:'yyyy-MM-dd'}}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm"
                                    ng-click="http.deleteStyle(style.indexNo, style.styleNo)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="ui.edit(style, style.indexNo)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" onclick="document.getElementById('modal01').style.display = 'block'"
                                    ng-click="ui.selectHistory(style)">
                                <span class="glyphicon glyphicon-alert"></span> history
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--    <div class="col-lg-8">
            <div class="row col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-lg-3">Style :</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control search-input" placeholder="search style">
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-striped">
                <thead style="background-color: #e9eaea">
                    <tr>
                        <th>Style No</th>
                        <th>Picture</th>
                        <th>Solid Price</th>
                        <th>S Consumption</th>
                        <th>Price Price</th>
                        <th>P Consumption</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="style in styles">
                        <td class="filterable-cell">{{style.styleNo}}</td>
                        <td class="filterable-cell"><img src="./img/{{style.picture}}.PNG" style="width: 70px; height: 50px;"></td>
                        <td class="filterable-cell">{{style.solidPrice}}</td>
                        <td class="filterable-cell">{{style.solidConsumption}}</td>
                        <td class="filterable-cell">{{style.printPrice}}</td>
                        <td class="filterable-cell">{{style.printConsumption}}</td>
                    </tr>
                </tbody>
    
            </table> 
    
        </div>-->
</div> 

<div id="modal01" class="w3-modal" onclick="this.style.display = 'none'" style="z-index: 1000">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
        <table class="table">
            <col style="width: 25%">
            <col style="width: 25%">
            <col style="width: 25%">
            <col style="width: 25%">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Style No</th>
                    <th>Update Date</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 173px);">
            <table class="table">
                <col style="width: 25%">
                <col style="width: 25%">
                <col style="width: 25%">
                <col style="width: 25%">
                <tbody>
                    <tr ng-repeat="style in styleHistory| orderBy:'updateDate':true ">
                        <!--<td>{{style.user}}</td>-->
                        <td>User1</td>
                        <td>{{style.styleNo}}</td>
                        <td>{{style.updateDate|date:'yyyy-MM-dd'}}</td>
                        <td>{{style.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--<h3 class="text-center" style="margin-top: 10px">{{styleNo}}</h3>-->
        <!--<a href="#/cup-cost2"><button style=" margin-bottom: 20px" class="btn btn-primary" ng-click="selectCupStyle()">Select Style</button></a>-->
    </div>
</div>

<div class="fab-container">
    <!--<a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>-->
    <a class="fab fab-lg fab-success" ng-click="ui.saveNewStyle();"><i class="glyphicon glyphicon-ok"></i></a>
</div> 
