.modal-body {
    max-height: calc(100vh - 90px);
    overflow-y: auto;
}


.view.ng-enter{
    animation: fadeIn 1s;
}

/*#imgPanel{
    padding-bottom: 10px;
}*/

.img-circle {
    border-radius: 50%;
}

#imgPanel:hover{
    /*background-color: papayawhip;*/
    background-color: #ffcccc;
    opacity: 0.5;
    /*border: 1px solid #cccc00;*/
}

.mygrid-wrapper-div{
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    border: 1px solid #cccccc; 
}
.table{
    margin-bottom: 0px !important;
}

/*.my-part{
    width: 14%;
}*/
.category{
    width: 100%;
    height: auto;
    /*border: 1px solid #cccccc;*/
    margin-top: 20px;
}
.tier{
    width: 100%;
    height: auto;
    border: 1px solid #cccccc;
    margin-top: 10px;
}
.title{
    background-color: #cccccc;
    height: 15px;
    font-size: 12px;
    padding-left: 5px;
}
#txt{
    margin-top: 20px;
    font-size: 20px;
}
#input{
    width: 90%;
}
/*.form-group {
    margin-bottom: 0px !important;
}*/
#default-price{
    margin-top: 90px;
}
#range-bar{
    margin-top: 100px;
}
#smv-cor{
    margin-top: 34px;
}
#smv-total{
    margin-top: 35px;
    margin-bottom: 45px;
}
#smv-top{
    margin-top: 90px;
}
#top{
    /*margin-top: 10px;*/
    padding-top: 60px;
}
#trim-range{
    margin-top: 150px;
    margin-bottom: 45px;
}
#skip-btn{
    margin-top: 26px;
    margin-bottom: 45px;
}
#top-img{
    width: 40px;
    height: 40px;
}



/* Bordered form */
/*form {
    border: 3px solid #f1f1f1;
}*/


/* Set a style for all buttons */
#login-btn{
    /*background-color: #4CAF50;*/
    color: white;
    padding: 8px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn-primary.active, .btn-primary:active, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #000 !important;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 0px 0 14px 0;
}


/* Add padding to containers */
#login-form{
    padding: 16px;
    margin-top: 65px;
}

/*footer*/
.footer{
    position: fixed;
    bottom: 0px;
    width: 100%; 
    height: 40px;
    background-color: #636161;
    z-index: 3;
}
.header{
    /*display: block;*/
    position: fixed;
    /*position: fixed;*/
    /*bottom: 0px;*/
    width: 100%; 
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    z-index: 4;
    padding-top: 10px;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

#menu{
    padding-top: 16px;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    margin-top: 21px;
}
input[type=range]::-webkit-slider-runnable-track {
    /*width: 300px;*/
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #003366;
    margin-top: -10px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    /*width: 300px;*/
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    /*background: #0066ff;*/
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    /*width: 300px;*/
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.btn.btn-flat {
    border-radius: 0;
    box-shadow: none;
    border-width: 1px;
}

input[type=text]{
    border-radius: 0px !important;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.input-group-addon{
    border-radius: 0px !important;
}



/*input:focus { 
    border: none !important;
    box-shadow: inset 0px 0px 0px 1px #30a5ff !important;
}*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
